.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 20px;
  background: linear-gradient(to right, #5D5CFF, #8860FF);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styles.css */
.box-with-border {
  border: 2px solid #8860FF; 
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* styles.css */
#custom-button {
  background-color: #8860FF;
  color: white;
}

/* styles.css */
#delete-button {
  background-color: red;
  color: white;
  /* Add more styles as needed */
}

#completed-button {
  background-color: #8860FF;
  color: white;
  /* Add more styles as needed */
}

